<?xml version="1.0"?>
<robot name="mattro_rovo_2">
  <link name="mattro_base_link">
    <visual>
      <origin rpy="0 0 1.57079632679" xyz="-0.092 0 -0.324"/>
      <geometry>
        <mesh filename="package://bock_controller/urdf/Mattro ROVO 2 - Heavy Duty - simplified.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mattro_blue">
        <color rgba="0.2 0.2 0.8 1.0"/>
      </material>
    </visual>
  </link>
</robot>
