<launch>
    <!-- This is launch file is aimed to run Rviz on the remote PC where a display is available.
    Otherwise it raises an error and stops executing -->

    <!-- Load the urdf model as argument -->
    <arg name="model" default="$(find bock_controller)/urdf/Mattro_heavy_duty.urdf"/>
    <arg name="rvizconfig" default="$(find bock_controller)/rviz/display.rviz" /> 

    <!-- Run the tf broadcasters nodes -->
    
    <node pkg="bock_controller" type="mattro_tf.py" name="MattroTf" output="screen"/>
    <node pkg="bock_controller" type="controlbox_tf.py" name="ControlBoxTf" output="screen"/>
    <node pkg="bock_controller" type="odom_tf.py" name="OdomTf" output="screen"/>

    <!-- Run the node which publish Mattro's pose ins space -->
    <!-- node pkg="bock_controller" type="mattro_odom.py" name="MattroPose" output="screen"/-->

    <!-- Open Rviz to visualise the robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    
</launch>